*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
application/views/charities/dare_night/images/*
application/views/archive/doc/*
application/views/events/photos/*
application/views/events/posters/*
application/views/photos/images/*
application/views/finance/files/*
application/views/involved/img/*
application/views/ballot/content/*
application/config/constants.php
*.htaccess
index.php
.htaccess

application/config/constants.php
*.htaccess
