addhandler x-httpd-php5 .inc 

RewriteEngine on

RewriteBase /

#Removes access to the system folder by users.
RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php?/$1 [L]

# we need to allow full access to the application folder.  There are
# scripts and files which need direct access.  All folders should be
# protected with an index.html, and all scripts with a is_defined check
RewriteCond %{REQUEST_URI} ^application.*
RewriteRule ^(.*)$ /application/$1 [L]

# allow access to offline
RewriteCond %{REQUEST_URI} ^offline.*
RewriteRule ^(.*)$ /offline/$1 [L]

# allow access to password
RewriteCond %{REQUEST_URI} ^password.*
RewriteRule ^(.*)$ /password/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

Redirect 302  /frame_redirect.html/:80/ http://butlerjcr.co.uk/