.green-button{
    background-color: #2be012;
}

.search-people{
    height: 30px;
    width: 400px;
    font-size: 28px;
}

.members-tables *{
    font-size: 12px;
    
}

.members-tables td{
    border-bottom-style: dashed;
}

.members-tables td:first-of-type{
    font-weigth:bold;
}

.members-tables .ditto td{
    border-top-style: dashed;
}

a.unpaid, a.bank-transfer, a.cheque, a.cash{
    display: inline-block;
}

a.unpaid{
    background-color: green;
}

.un-paid a.unpaid, .paid a.bank-transfer, .paid a.cheque, .paid a.cash{
    display: none;
}


.invoice-search-box{
    display:block;
}