.booking-instance{ 	
    margin-top: 5px;
    height:27px;
    background-color:red;
    display:block;
    position:absolute;
}

.calender-view col:nth-child(2n+3) {
	background: #FF0;
} 

.calendar-view td{
	width:37px;
	height:33px;
	padding:1px;
	font-size: 80%;
}

.calendar-view td:nth-of-type(1){
	width:125px;
	padding:2px;
}

.calendar-view td:nth-of-type(2){
	width:0;
	border-left:0;
	padding:0;
	border-left:0;
}

.calendar-view tr:nth-of-type(1) td{
	
}

.navigation-bar{
	width:100%;
}

.navigation-bar td{
	border:0;
}

#content{
	min-width:750px;
}

.room_name{
	font-size: 95%;
}